<h2 class = "page-title">Create Merchant Profile</h2>

<div class="form-wrapper">

  <form class="new_entry" action="/users/" method="post">

    <div class="form-field">
      <label for="name">Name(required)</label>
      <input type="string" name="user[name]"  value = "<%= @user.name %>"  />
      <%= render "shared/error_messages", obj: @user, col: :name %>
    </div>

    <div class="form-field">
      <label for="storename">Name of your Store</label>
      <input type="string" name="user[storename]" value = "<%= @user.storename %>" />
    </div>

    <div class="form-field">
      <label for="email">Email</label>
      <input type="string" name="user[email]" value = "<%= @user.email %>"/>
      <%= render "shared/error_messages", obj: @user, col: :email %>
    </div>

    <div class="form-field">
      <label for="username">Username(required):</label>
      <input type="string" name="user[username]"  value = "<%= @user.username %>"  />
      <%= render "shared/error_messages", obj: @user, col: :username %>
    </div>

    <div class="form-field">
      <label for="password">Password(required):</label>
      <input type="password" name="user[password]"  value = "<%= @user.password %>"  />
      <%= render "shared/error_messages", obj: @user, col: :password %>
    </div>

    <div class="form-field">
      <label for="password">Confirm Password:</label>
      <input type="password" name="user[password_confirmation]"  value = "<%= @user.password_confirmation %>"  />
      <%= render "shared/error_messages", obj: @user, col: :password_confirmation %>
    </div>

    <div class="form-field">
      <label for="image-url">Upload Image URL:</label>
      <input type="string" name="user[image_url]"  value = "<%= @user.image_url %>"  />
    </div>

    <div class="form-field">
      <div class="submit-button">
        <input type = "submit" value="Sign Up" class = "submit">
      </div>
    </div>

  </form>
</div>
