<form class="new_entry" action="/users/" method="post">

  <h2>Create Merchant Profile</h2>

  <div>
    <p><label for="name">Name(required)</label>
    <input type="string" name="user[name]"  value = "<%= @user.name %>"  />
    <%= render "shared/error_messages", obj: @user, col: :name %></p>
 </div>
 <div>
   <p><label for="storename">Name of your Store</label>
   <input type="string" name="user[storename]" value = "<%= @user.storename %>" />
 </p>
 </div>
 <div>
   <p><label for="email">Email</label>
   <input type="string" name="user[email]" value = "<%= @user.email %>"/>
   <%= render "shared/error_messages", obj: @user, col: :email %></p>
</div>
<div>
  <p><label for="username">Username(required):</label>
  <input type="string" name="user[username]"  value = "<%= @user.username %>"  />
  <%= render "shared/error_messages", obj: @user, col: :username %></p>
</div>
<div>
  <p><label for="password">Password(required):</label>
  <input type="password" name="user[password]"  value = "<%= @user.password %>"  />
  <%= render "shared/error_messages", obj: @user, col: :password %></p>
</div>
<div>
  <p><label for="password">Confirm Password:</label>
  <input type="password" name="user[password_confirmation]"  value = "<%= @user.password_confirmation %>"  />
  <%= render "shared/error_messages", obj: @user, col: :password_confirmation %></p>
</div>
<div>
  <p><label for="image-url">Upload Image URL:</label>
  <input type="string" name="user[image_url]"  value = "<%= @user.image_url %>"  />
</p>
</div>
<br>

   <input type = "submit" value="Sign Up" class = "submit">
 </form>
