<h2 class = "page-title">Order Fulfillment</h2>

<div class="merchant-stats">
  <div class="profile-row">
      <h4>Total Revenue: </h4>
      <p><%= format_money(@orderfulfillment.inject(0) {|sum, orderitem| sum += orderitem.total_price }) %></p>
  </div>
  <div class="profile-row">
      <h4>Total Revenue (<%= @orderfulfillment.find_all{|ord| ord.status == "Shipped"}.count %> Shipped Items): </h4>
      <p><%= format_money(@orderfulfillment.find_all{|ord| ord.status == "Shipped"}.inject(0) {|sum, orderitem| sum += orderitem.total_price }) %></p>
  </div>
  <div class="profile-row">
      <h4>Total Revenue (<%= @orderfulfillment.find_all{|ord| ord.status == "Pending"}.count %> Pending Items): </h4>
      <td><%= format_money(@orderfulfillment.find_all{|ord| ord.status == "Pending"}.inject(0) {|sum, orderitem| sum += orderitem.total_price }) %></td>
  </div>
  <div class="profile-row">
      <h4>Total Revenue (<%= @orderfulfillment.find_all{|ord| ord.status == "Cancelled"}.count %> Cancelled Items): </h4>
      <p><%= format_money(@orderfulfillment.find_all{|ord| ord.status == "Cancelled"}.inject(0) {|sum, orderitem| sum += orderitem.total_price }) %></p>
  </div>
</div>

<div class="fulfillment-table">
  <table>
    <tr>
      <th>Order #</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th><%= link_to "Orderitem Status", :sort => "status" %></th>
      <th>Cancel Order</th>
      <th>Update Order</th>
      <th>Buyer's Information</th>
    </tr>

    <% @orderfulfillment.each do |each_order| %>
      <tr>
        <td><%= link_to each_order.order.id, order_info_path(each_order.order_id) %></td>
        <td><%= link_to each_order.product.name, "/products/#{each_order.product.id}" %></td>
        <td><%= each_order.qty %></td>
        <td><%= format_money(each_order.product.price) %></td>
        <td><%= format_money(each_order.total_price) %></td>
        <td><%= each_order.order.orderdate.strftime("%m/%d/%Y @ %l:%M%P")  %></td>
        <td><%= each_order.order.status %></td>
        <td><%= each_order.status %></td>
        <td>
          <% if each_order.status != "Cancelled" %>
            <%= button_to("Cancel", cancel_orderitem_path(each_order.id), method: :put) %>
          <% end %>
        </td>
        <td>
          <% if each_order.status != "Cancelled" %>
            <%= button_to("Ship", ship_orderitem_path(each_order.id), method: :put) %>
          <% end %>
        </td>
        <td><%= link_to "Order Details", order_info_path(each_order.order_id), method: :get %></td>
      </tr>
    <% end %>
  </table>
</div>
