<h2 class= "page-title" >Welcome, <%= @user.name.capitalize %>!</h2>

<div class="profile-wrapper">

  <div class="profile-row">
    <h4>Username: </h4><p><%= @user.username %></p>
  </div>

  <div class="profile-row">
    <h4>Email: </h4><p><%= @user.email %></p>
  </div>

  <div class="profile-row">
    <h4>Storename: </h4><p><%= @user.storename %></p>
  </div>

  <div class="profile-row user-links">
    <%= link_to "Edit Profile", edit_user_path %>
    <%= link_to "Order Fulfillment", user_orderfulfillment_path %>
    <%= link_to "My Purchases", orders_path %>
  </div>
</div>

<div class="profile-products">
  <% if @user.products.size > 0 %>
      <%= render "shared/product_list", dashboard: true %>
  <% else %>
    <div class="new-products-wrapper">
      <%= link_to "Add Your First Product!", new_product_path, class: "button-link add-products" %>
    </div>
  <% end %>
</div>
