Welcome, <%= @user.storename %>!<br/>

<br/><br/>
<% @user_products.each do |product| %>
<div class = "product-box">
    <a href="#"><%= product.name %></a>
    <a href="#">$<%= product.price %></a>
</div>

  <tr class = "destroy-edit">
    <td><%= link_to "Destroy", "/products/destroy/#{product.id}" %></td>
    <td><%= link_to "Edit", "/products/#{product.id}/edit" %></td>
    <td><%= link_to "Add Category", "/products/#{product.id}/newcategory" %></td>
  </tr>

  <div class = "product-popup">
    <p><%= image_tag (product.image_url) %>
    <p>Description: <%= product.description %></p>
    <p>Stock: <%= product.stock %> remaining</p>

    <%= form_tag(orderitems_new_path, method: "post") do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div>
<% end %>
