<div class="order-wrapper">
  <div class="order-details">
    <% if index %>
      <p> <%= link_to "Order ID: #{obj.id}", show_order_path(obj.id) %></p>
    <% else %>
      <p>Order ID: <%= obj.id %></p>
    <% end %>
    <p>Order Status: <%= obj.status %></p>
    <p>Date Placed: <%= obj.orderdate %></p>
  </div>

  <hr>

  <table>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th>Status</th>
    </tr>
    <% obj.orderitems.each do |order_item|  %>
      <tr>
        <td><%= link_to order_item.product.name, show_product_path(order_item.product.id), {class: "order-detail-links"} %></td>
        <td><%= order_item.qty %></td>
        <td><%= format_money(order_item.product.price) %></td>
        <td><%= format_money(order_item.total_price) %></td>
        <td><%= order_item.status %></td>
      </tr>
    <% end %>
  </table>

  <hr>

  <div class="order-totals">
    <p>Order Total: <%= format_money(obj.total_price) %></p>
    <%#= button_to("Cancel", cancel_order_path(obj.id), method: :put) %>
  </div>
</div>
