<div class="form-wrapper">
  <%= form_for @product, url: {action: obj} do |f| %>
    <div class="form-field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
      <%= render "shared/error_messages", obj: @product, col: :name %>
    </div>

    <div class="form-field">
      <%= f.label :price, "Price:" %>
      <%= f.text_field :price %>
      <%= render "shared/error_messages", obj: @product, col: :price %>
    </div>

    <div class="form-field">
      <%= f.label :description, "Description:" %>
      <%= f.text_field :description %>
      <%= render "shared/error_messages", obj: @product, col: :description %>
    </div>

    <div class="form-field">
      <%= f.label :image_url, "Image URL:" %>
      <%= f.text_field :image_url %>
      <%= render "shared/error_messages", obj: @product, col: :image_url %>
    </div>

    <div class="form-field">
      <%= f.label :stock, "Quantity:" %>
      <%= f.text_field :stock %>
      <%= render "shared/error_messages", obj: @product, col: :stock %>
    </div>

    <div class="form-field checkbox">
      <%= f.check_box :is_retired, {}, "true", "false" %>
      <%= f.label :is_retired, "Retire" %>
    </div>

    <%= f.hidden_field :user_id, :value => session[:current_user_id] %>

    <div class="submit-button">
      <%= f.submit %>
    </div>

  <% end %>
</div>
<div class="category-wrapper">
  <% if @product.save %>
    <h2 class="page-title">Your Categories</h2>
    <div class="form-wrapper">
      <div class="current-category-wrapper">
        <h3>Current Categories:</h3>
          <% if @product.categories.size > 0 %>
            <% @product.categories.each do |category| %>
              <div class="category-wrapper">
                <%= label_tag(category.name) %>
                <div class="category-div">
                  <%= button_to "-", delete_category_path(@product.id, category_id: category.id), class: "category-button", method: :delete %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No Categories Added</p>
          <% end %>
      </div>

      <div class="add-category-wrapper">
        <h3>Add Category:</h3>
          <% if @categories.size > 0 %>
            <% @categories.each do |category| %>
              <div class="category-wrapper">
                <%= label_tag(category.name) %>
                <div class="category-div">
                  <%= button_to "+", create_category_path(@product.id, category_id: category.id), class: "category-button", method: :post %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No More Categories Available</p>
          <% end %>
      </div>

      <div class="add-new-category-wrapper">
        <%= link_to "Create New Category", new_category_path, { class: "button-link" } %>
      </div>
    </div>
  <% end %>
</div>
