<div class="form-wrapper">
  <%= form_for @product, url: {action: obj} do |f| %>
    <div class="form-field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
      <%= render "shared/error_messages", obj: @product, col: :name %>
    </div>

    <div class="form-field">
      <%= f.label :price, "Price:" %>
      <%= f.text_field :price %>
      <%= render "shared/error_messages", obj: @product, col: :price %>
    </div>

    <div class="form-field">
      <%= f.label :description, "Description:" %>
      <%= f.text_field :description %>
      <%= render "shared/error_messages", obj: @product, col: :description %>
    </div>

    <div class="form-field">
      <%= f.label :image_url, "Image URL:" %>
      <%= f.text_field :image_url %>
      <%= render "shared/error_messages", obj: @product, col: :image_url %>
    </div>

    <div class="form-field">
      <%= f.label :stock, "Quantity:" %>
      <%= f.text_field :stock %>
      <%= render "shared/error_messages", obj: @product, col: :stock %>
    </div>

    <div class="form-field checkbox">
      <%= f.check_box :is_retired, {}, "true", "false" %>
      <%= f.label :is_retired, "Retire" %>
    </div>

    <%= f.hidden_field :user_id, :value => session[:current_user_id] %>

    <div class="submit-button">
      <%= f.submit %>
    </div>

  <% end %>
</div>

<% if @product.save %>
  <h2 class="page-title">Your Categories</h2>
  <div class="form-wrapper">

    <h4>Current Categories:</h4>
    <% if @product.categories %>
      <% @product.categories.each do |category| %>
        <%= label_tag(category.name) %>
        <%= button_to "-", delete_category_path(@product.id, category_id: category.id), method: :delete %>
      <% end %>
    <% else %>
      <p>No Categories Added</p>
    <% end %>

    <h4>Add Category:</h4>
    <% if @categories %>
      <% @categories.each do |category| %>
        <%= label_tag(category.name) %>
        <%= button_to "+", create_category_path(@product.id, category_id: category.id), method: :post %>
      <% end %>
    <% else %>
      <p>No More Categories Available</p>
    <% end %>
    <%= link_to "Add New Category", new_category_path, { class: "button-link" } %>
  </div>
<% end %>
