
<div class = "landing-text">
  <div id = "sub-landing">
  <h1>Welcome to <span>Petsy</span></h1>
  <h2>Your new best friend is only a click away!<h2>
    <%=link_to "Shop Now", products_path, :class => "shop-now" %>
  </div>
</div>
<div class="banner">
    <ul>
        <li><%= image_tag "2cats.jpg", :class => "slider-image" %></li>
        <li><%= image_tag "dog5.jpg", :class => "slider-image" %></li>
        <li><%= image_tag "cat4.jpg", :class => "slider-image" %></li>
        <li><%= image_tag "dog4.jpg", :class => "slider-image" %></li>
        <li><%= image_tag "2kittens.jpg", :class => "slider-image" %></li>
        <li><%= image_tag "dog2.jpg", :class => "slider-image" %></li>
    </ul>
</div>


<!-- <a href="#" class="unslider-arrow prev"><</a>
<a href="#" class="unslider-arrow next">></a> -->

<script>
  // $(function() {
  //   $('.banner').unslider();
  // });

  $(function() {
    $('.banner').unslider({
      speed: 500,               //  The speed to animate each slide (in milliseconds)
      delay: 3000,              //  The delay between slide animations (in milliseconds)
      complete: function() {},  //  A function that gets called after every slide animation
      keys: true,               //  Enable keyboard (left, right) arrow shortcuts
      dots: true,               //  Display dot navigation
      fluid: false              //  Support responsive design. May break non-responsive designs
    });
  });

  // var unslider = $('.banner').unslider();
  //
  // $('.unslider-arrow').click(function() {
  //     var fn = this.className.split(' ')[1];
  //
  //     //  Either do unslider.data('unslider').next() or .prev() depending on the className
  //     unslider.data('unslider')[fn]();
  // });
</script>
