<h2>Cart</h2>

<!-- display empty cart message if no items in cart-->
<% if @empty_cart %>
  <p><%= @empty_cart %></p>

<!-- otherwise display cart table -->
<% else %>

  <%= form_tag(update_order_path(@order.id), method: "put") do %>
    <table>
      <tr>
        <td>Product</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Subtotal</td>
        <td>Remove</td>
      </tr>
      <% @line_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.product.price %></td>
          <td><%= number_field_tag("order[#{item.id}[qty]]", item.qty, in: 0..item.product.stock, step: 1 ) %></td>
          <td><%= item.totalprice %></td>
          <td><%= link_to image_tag("delete.png", alt: "Delete Button"), delete_orderitem_path(item.id) %></td>
        </tr>
      <% end %>
    </table>
  <%= submit_tag("Update") %>
  <% end %>
  <%= form_tag(delete_order_path(@order.id), method: "delete") do %>
    <%= submit_tag("Clear Cart") %>
  <% end %>

<% end %>
