<h3>Buyer's Information</h3>

<table>
  <tr><td><strong>Name:</strong></td><td><%= @buyer.name_on_card %></td></tr>
  <tr><th>Address:</th><td><%= @buyer.address %></td></tr>
  <tr><th>City:</th><td><%= @buyer.city %></td></tr>
  <tr><th>State:</th><td><%= @buyer.state %></td></tr>
  <tr><th>Zip:</th><td><%= @buyer.zip %></td></tr>
  <tr><th>Email:</th><td><%= @buyer.email %></td></tr>
</table>
