<h2 class="page-title">Buyer's Information</h2>

<div class="merchant-stats">
  <div class="profile-row">
    <h4>Name:</h4>
    <p><%= @buyer.name_on_card %></p>
  </div>
  <div class="profile-row">
    <h4>Address:</h4>
    <p><%= @buyer.address %></p>
  </div>
  <div class="profile-row">
    <h4>City:</h4>
    <p><%= @buyer.city %></p>
  </div>
  <div class="profile-row">
    <h4>State:</h4>
    <p><%= @buyer.state %></p>
  </div>
  <div class="profile-row">
    <h4>Zip:</h4>
    <p><%= @buyer.zip %></p>
  </div>
  <div class="profile-row">
    <h4>Email:</h4>
    <p><%= @buyer.email %></p>
  </div>
  <div class="profile-row">
    <h4>Last-four digit of Credit Card:</h4>
    <p><%= @buyer.card_number[-4..-1] %></p>
  </div>
  <div class="profile-row">
    <h4>Expiration date on Credit Card:</h4>
    <p><%= @buyer.card_exp.mon %> / <%= @buyer.card_exp.year %></p>
  </div>
</div>
