<div class = "sub-body">
<h2 class = "page-title">All Products</h2>

<% @products.each do |product| %>
  <% unless product.is_retired == true && session[:current_user_id] != product.user_id %>
    <div class = "item-box">
        <%= image_tag product.image_url, :class => "item-image" %>
        <%= link_to product.name, "/products/#{product.id}", :class => "item-name" %>
        <a href="#" class = "item-price"><%= format_money(product.price) %></a>

  <% if session[:current_user_id] && product.user_id == session[:current_user_id] %>
    <div class = "destroy-edit">
      <tr>
        <td><%= link_to "Destroy", "/products/destroy/#{product.id}",  :class => "de-link" %></td>
        <td><%= link_to "Edit", "/products/#{product.id}/edit",  :class => "de-link" %></td>
        <td><%= link_to "Add Category", "/products/#{product.id}/newcategory",  :class => "de-link" %></td>
      </tr>
    </div>
  <% end %>




      <div class = "item-popup">
        <p class = "item-link">Description: <%= product.description %></p>
        <p class = "item-link">Stock: <%= product.stock %> remaining</p>

        <%= form_tag(orderitems_new_path, method: "post") do %>
          <%= hidden_field_tag :product_id, product.id %>
          <%= submit_tag "Add to Cart", :class => "add-to-cart" %>
        <% end %>
      </div>
</div>
<% end %>
<% end %>
</div>
