<h1>Add a Product</h1>

<%= form_for @product, url: {action: "create"} do |f| %>

    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>

    <%= f.label :price, "Price:" %>
    <%= f.text_field :price %>

    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>

    <%= f.label :image_url, "Image URL:" %>
    <%= f.text_field :image_url %>

    <%= f.label :stock, "Quantity:" %>
    <%= f.text_field :stock %>

    <%= f.check_box( "product", "is_retired", {}, "true", "false") %>
    <%= f.label(:retired) %>

    <%= hidden_field_tag :user_id, session[:current_user_id] %>

    <%= f.submit %>

<% end %>
