<!-- <div class = "page-div"> -->

<%= image_tag @product.image_url, :class => "show-image" %>
<div class = "show-text">
  <h1><%= @product.name %></h1>

  <% if @product.reviews.size != 0 %>
    <div class = "average-rating-div">
      <div class = "average-star-div">
        <%= render "shared/stars", obj: average_rating %>
      </div>
    </div>
  <% end %>

    <p class = "show-attributes"><%= format_money(@product.price) %></p>
    <p class = "show-attributes"><span class = "bold">Description:</span> <%= @product.description %></p>
    <p class = "show-attributes"><span class = "bold">Stock:</span> <%= @product.stock %> remaining</p>


    <%= form_tag(orderitems_new_path, method: "post") do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag "Add to Cart", :class => "add-to-cart" %>
    <% end %>

    <% if @product.reviews.size == 0 %>
        <%=link_to "Write a review", new_product_review_path, :class => "new-review", :id => "new-review-top" %>
    <% end %>

    <% if session[:current_user_id] && @product.user_id == session[:current_user_id] %>
      <div class = "show-destroy-edit">
        <tr>
          <td><%= link_to "Destroy", "/products/destroy/#{@product.id}", :class => "show-de-link" %></td>
          <td><%= link_to "Edit", "/products/#{@product.id}/edit",  :class => "show-de-link" %></td>
          <td><%= link_to "Add Category", "/products/#{@product.id}/newcategory",  :class => "show-de-link"  %></td>
        </tr>
      </div>
    <% end %>
</div>

  <div class = "review-add">


<% if @product.reviews.size != 0 %>

  <!-- <div class = "average-rating-div">
    <div class = "average-star-div">
      <h2>Average Product Rating:</h2>
      <%= render "shared/stars", obj: average_rating %>
    </div>
  </div> -->

    <% @product.reviews.each do |review| %>
    <div id = "full-review">
      <p class = "review" id = "review-title"><%= review.title %></p>
      <div class = "star-div">
        <div class = "inside-star-div">
        <%= render "shared/stars", obj: review.rating %>
      </div>
      </div>
      <p class = "review" id = "review-author">By <span id = rev-name><%= review.author %></span> on <span id = rev-name><%= review.created_at.to_datetime.strftime("%D") %></span></p>
      <p class = "review" id = "review-comment"><%= review.comment %></p>
    </div>
    <% end %>

  </div>

<div class = "review-div">
    <%=link_to "Write a review", new_product_review_path, :class => "new-review" %>
</div>

<% end %>

<!-- </div> -->
