<h2>Here are all the Reviews. Just because</h2>

<% @reviews.each do |review| %>
  Date: <%= review.created_at.to_datetime.strftime("%D") %><br/>
  Rating: <%= review.rating %><br/>
  Title: <%= review.title %><br/>
  Comment: <%= review.comment %><br/>
    <% if review.author != nil %>
  Author: <%= review.author %><br/>
    <% end %>
<% end %>
