<!DOCTYPE html>
<html>
<head>
  <title>Petsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

<header id = "layout-nav">
  <h1 id = "main-logo">Petsy</h1>

    <div id="search">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "button" %>
    </div>
  <div id = "floating-stuff">
    <div id ="browse-div">
      <a href="" id = "browse">Browse</a>
    </div>

  <%= image_tag "cart4.png", :id => "cart-image" %>
</div>
</header>

<%= render "shared/flash_messages" %>

<div class = "sub-body">
  <%= yield %>
</div>

</body>
</html>
