<!DOCTYPE html>
<html>
<head>
  <title>Petsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

  <header id = "layout-nav">
    <h1 id = "main-logo">Petsy</h1>

    <div id="search">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "button" %>
    </div>
    <div id = "floating-stuff">
      <div id ="browse-div">
        <%= link_to "Browse", products_path, :id => "browse" %>
      </div>

      <%= link_to image_tag("cart4.png", :id => "cart-image"), cart_path %>

      <% if session[:current_user_id] %>
        <div id ="log-div">
          <%= link_to "Logoff", logoff_path, {id: "browse"} %>
        </div>
      <% else %>
        <div id ="log-div">
          <%= link_to "Login", new_login_path, {id: "browse"} %>
        </div>
      <% end %>


    </div>
  </header>

<div id = sub-nav>
  <a  href= "" class = "sub-nav-link">Products</a>
  <a  href= "" class = "sub-nav-link">Catagories</a>
  <a  href= "" class = "sub-nav-link">Sales</a>
</div>

<div id = "browse-dropdown">
  <ul>
    <% all_categories.all.each do |category| %>
      <li><%= link_to category.name, category_products_path(category.id), {class: "category-link"} %></li>
    <% end %>
  </ul>
</div>
<%= render "shared/flash_messages" %>

<div class = "sub-body">
  <%= yield %>
</div>
</body>
</html>
