<!DOCTYPE html>
<html>
<head>
  <title>Petsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed', :media => "all" %>
  <script language="javascript" type="text/javascript" src="jquery-1.8.3.js"></script>
  <script src="/javascript/jquery.js"></script>
</head>
<body>

  <header id = "layout-nav">
    <div id = "nav-body">

    <!-- <h1 id = "main-logo">Petsy</h1> -->
    <%= image_tag "tag3.png", :class => "logo" %>

    <div id="search">
      <%= form_tag search_products_path do %>
        <%= text_field_tag :search, params[:search], :value => "Name or keyword", :class => "search-copy" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>
      <% end %>
    </div>

    <div id = "floating-stuff">

      <div id ="browse-div">
        <%= link_to "Browse", products_path, :id => "browse" %>
      </div>

      <%= link_to image_tag("cart4.png", :id => "cart-image"), cart_path %>

      <% if session[:current_user_id] %>
        <div id ="log-div">
          <%= link_to "Logoff", logoff_path, {id: "browse"} %>
        </div>
      <% else %>
        <div id ="log-div">
          <%= link_to "Login", new_login_path, {id: "browse"} %>
        </div>
      <% end %>
    </div>
  </div>

    <div id = "more-floats">
      <div id = "browse-dropdown">
        <ul>
          <% all_categories.all.each do |category| %>
            <li><%= link_to category.name, category_products_path(category.id), {class: "category-link"} %></li>
          <% end %>
        </ul>
      </div>
  </div>



  </header>

  <% if session[:current_user_id] %>
    <div id = "sub-nav">
      <%= link_to "Add Product", new_product_path, { class: "sub-nav-link" }%>
      <%= link_to "Create Category", new_category_path, { class: "sub-nav-link" }%>
      <%= link_to "Dashboard", user_profile_path, { class: "sub-nav-link" }%>
    </div>
  <% end %>


  <%= render "shared/flash_messages" %>

  <div class = "sub-body">
    <%= yield %>
  </div>
</body>
</html>
